<h1>New cocktail</h1>

<%= form_for(@cocktail) do |f| %>
<div class="form">
  <div class="label"><%= f.label :name %></div>
  <div class="input"><%= f.text_field :name %></div>
  <div class="btn"><%= f.submit class: "btn btn-primary"%></div>
<% end %>
</div>

